nav, h1, header {
    text-align: center;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    padding-left: 10px;
}

footer {
    position: absolute;
    bottom: 0;
}

body {
    position: relative;
    padding-bottom: 5rem;
}

header strong {
    font-size: 2rem;
}